.colland-header {
    width: 100%;
    height: 12vh;
    // height: 100px;
    background-color: #CF3F3D;
    display: flex;
    padding-left: 3.5%;
    padding-right: 3.5%;
    
    .box-logo {
        width: 15%;
        display: flex;
        outline-width: 0;
        .img-logo {
            width: 80%;
            height: auto;
            align-self: center;
        }
    }

    // position: fixed;
    .box-genre-header {
        width: 60%;
        display: flex;
        p {
            font-family: roboto-bold;
            margin-right: 3%;
        }
        // justify-content: space-evenly;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: white;
    }

    .search-bar-section {
        display: flex;
        width: 25%;
        height: 50%;
        align-self: center;

        .length-search {
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}

.isMobile{
    display: none
}

@media only screen and (max-width: 600px) {
    .isDesktop{
        display: none!important;
    }
    .isMobile{
        display: block;
    }
    .colland-tabtop{
        top: 0!important;
    }
    .colland-tab{
        position: fixed;
        z-index: 5;
        bottom: 0;
        width: 100%;
        height: 9vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #CF3F3D;
        display: flex;
      
        .box-logo{
            width: 100%;
            display: flex;
            outline-width: 0;
            justify-content: space-around;
            .img-logo{
                align-self: center;
                width: 64px;
            }
        }
    }
}

