<div class="colland-header isDesktop" *ngIf="router.url !== '/admin'">
    <div class="box-logo" [routerLink]="['']">
        <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
        <!-- <h1 class="align-self-center">CFLIX</h1> -->
    </div>
    <div class="box-genre-header">
        <p class="align-self-center" style="margin-left: 2.5%;">GENRE</p>
        <p class="align-self-center">TAHUN</p>
        <p class="align-self-center">NEGARA</p>
    </div>

    <div class="search-bar-section">
        <!-- <input class="length-search"> -->
    </div>
</div>

<div class="colland-tab isMobile" *ngIf="router.url !== '/admin'" [ngClass]="{'colland-tabtop' : isTokoped ==  true}">
    <div class="box-logo">
        <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png" (click)="headerTop()">
    </div>
    <div class="box-logo" [routerLink]="['']">
        <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
    </div>
    <div class="box-logo" [routerLink]="['']">
        <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
    </div>
    <div class="box-logo" [routerLink]="['']">
        <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
    </div>
</div>