.colland-movie {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;

    .txt-judul-film {
        font-size: 28px;
        font-family: roboto-bold;
        letter-spacing: 0.7;
        margin-bottom: 0.5rem;
    }

    .txt-genre-film {
        font-size: 20px;
        margin-bottom: 0.1rem;
    }
    .txt-biasa-film {
        font-size: 18px;
        margin-bottom: 0.1rem;
    }
    .cflix-video {
        width: 100%;
        height: 75vh;
        display: flex;

        .banner-iklan {
            width: 30%;
            height: 100%;
            border: 1px solid black;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            border-radius: 5px;
            flex-direction: column;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .iframe-video {
            width: 68%;
            height: auto;
            overflow:hidden;
        }
    }

    .sinopsis-section {
        margin-top: 2%;
        margin-bottom: 15%;
        .txt-sinopsis {
            font-size: 14px;
        }
    }
    .lining-movies {
        border-radius: 5px;
        border: 2px solid gray;
    }

    .movie-description {
        display: flex;
        .box-film-section {
            width: 70%;
            display: flex;
            flex-direction: column;
        }
        .box-trailer-share {
            width: 10%;
            justify-content: flex-end;
            display: flex;
            justify-content: space-evenly;
            img {
                width: 32px;
                height: 32px;
            }
        }
        .box-image-movie {
            width: 15%;
            height: 215px;
            margin-right: 2%;
            img {
                width: 100%;
                height: 215px;
                object-fit: cover;
            }
        }
    }
}

.isDesktop{
    display: block;
}

@media only screen and (max-width: 600px) {

    body{
        background-color: black;
    }

    .colland-movie {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 20%;
        background-color: black;
        opacity: 0.9;
        margin: 0;
        .isDesktop {
            display: none!important;
        }   
        .txt-judul-film {
            font-size: 28px;
            font-family: roboto-bold;
            letter-spacing: 0.7;
            margin-bottom: 0.5rem;
            color: white;
        }
    
        .txt-genre-film {
            font-size: 20px;
            margin-bottom: 0.1rem;
            color: white;
        }
        .txt-biasa-film {
            font-size: 18px;
            margin-bottom: 0.1rem;
            color: white;
        }
        .cflix-video {
            width: 100%;
            height: 29vh;
            display: flex;
            color: white;
    

            .iframe-video {
                width: 100%;
                height: 100%;
                margin-right: 1%;
                margin-left: 1%;
                object-fit: cover;
                border-radius: 7px;
                border-color: gold;
            }
        }
    
        .sinopsis-section {
            margin-top: 2%;
            margin-bottom: 15%;
            .txt-sinopsis {
                font-size: 14px;
                text-align: justify;
                color: white;
            }
        }
        .lining-movies {
            border-radius: 5px;
            border: 2px solid goldenrod;
        }
    
        .movie-description {
            display: flex;
            .box-film-section {
                width: 75%;
                display: flex;
                flex-direction: column;
            }
            .box-trailer-share {
                width: 10%;
                justify-content: flex-end;
                display: flex;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            .box-image-movie {
                width: 15%;
                height: 250px;
                margin-right: 2%;
                img {
                    width: 100%;
                    height: 215px;
                    object-fit: cover;
                }
            }
        }
    }
    
}
