<div class="bo-section">
    <div class="colland-sidebar">
        <div class="box-admin-header">
            <p>ADMINISTRATOR CFLIX</p>
        </div>
        <hr class="lining-admin">
        <div class="box-item-header">
            <img src="../../../assets/images/dashboard.png">
            <p>Dashboard</p>

        </div>
        <div class="box-item-header" (click)="panggilArdi()">
            <img src="../../../assets/images/film_icon.png">
            <p>Film</p>

        </div>
        <div *ngIf="isArdi == true">
            <div class="box-item-header">
                <img class="img-bola" src="../../../assets/images/circle_white.png">
                <p>Daftar Film</p>
            </div>
            <div class="box-item-header">
                <img class="img-bola" src="../../../assets/images/circle_white.png">
                <p>Aktor</p>
            </div>
            <div class="box-item-header">
                <img class="img-bola" src="../../../assets/images/circle_white.png">
                <p>Genre</p>
            </div>
            <div class="box-item-header">
                <img class="img-bola" src="../../../assets/images/circle_white.png">
    
                <p>Kualitas</p>
            </div>
            <div class="box-item-header">
                <img class="img-bola" src="../../../assets/images/circle_white.png">
                <p>Negara</p>
            </div>
        </div>

    </div>
    <div class="colland-header">
        <div class="box-logo" [routerLink]="['']">
            <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
        </div>
        <app-header-new-film></app-header-new-film>
    </div>


</div>