<div class="bo-section">
    <div class="colland-sidebar">
        <div class="box-item-header">
            <p>ADMINISTRATOR</p>
        </div>
        <hr class="lining-admin">
        <div class="box-item-header">
            <p>Film</p>
        </div>
        <div class="box-item-header">
            <p>Daftar Film</p>
        </div>
        <div class="box-item-header">
            <p>Aktor</p>
        </div>
        <div class="box-item-header">
            <p>Genre</p>
        </div>
        <div class="box-item-header">
            <p>Kualitas</p>
        </div>
        <div class="box-item-header">
            <p>Negara</p>
        </div>
    </div>
    <div class="colland-header">
        <div class="box-logo" [routerLink]="['']">
            <img class="img-logo" src="../../../assets/images/logo_cflix_putih 1.png">
        </div>
        <div class="header-new-film">
            <p>New Films</p>
            <div class="d-flex" style="margin-right: 3%;">
                <div class="w-50" style="margin-right: 3%;margin-top: 2%;">
                    <p>Judul Film</p>
                    <input class="form-control">
                    <p>Nama Aktor</p>
                    <input class="form-control">
                    <p>Genre Film</p>
                    <select class="form-control">
                    </select>
                </div>
                <div class="w-50" style="margin-top: 2%;">
                    <p>Kualitas Film</p>
                    <input class="form-control">
                    <p>Negara</p>
                    <select class="form-control">
                    </select>
                    <p>Sutradara</p>
                    <input class="form-control">
                </div>
            </div>

        </div>
    </div>


</div>