<div class="colland-iklan mt">
    <div class="box-iklan-section-1">
        <div class="box-iklan">
            <h1>AYO PASANG IKLAN ANDA DISINI</h1>
        </div>
        <div class="box-iklan">
            <h1>AYO PASANG IKLAN ANDA DISINI</h1>
        </div>
    </div>
    <div class="box-iklan-section-1">
        <div class="box-iklan">
            <h1>AYO PASANG IKLAN ANDA DISINI</h1>
        </div>
        <div class="box-iklan">
            <h1>AYO PASANG IKLAN ANDA DISINI</h1>
        </div>
    </div>
    <!-- <div class="box-iklan-section-2">
        <div class="box-iklan">
            <h1>IKLAN 3</h1>
        </div>
        <div class="box-iklan">
            <h1>IKLAN 4</h1>
        </div>
    </div> -->
</div>